
.header-style{
   display: flex;
   text-align: center;
   justify-content: center;
   width: 100%;
   background-color: gray;
}


.header-style a{
   padding: 20px;
   text-decoration: none;
   color: rgb(245, 239, 245);
   
}
.header-style a:hover{
   color: rgb(1, 23, 1);

}
