 .home-style{
    display: grid;
    grid-template-columns: 2fr 1fr;
    
 }

 .shops-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 10px;
        
    }
    .order-summary{
     
      text-align: center;
   
    }
